<html>
<head>
    <style>
body {
  background: #A8D46F;
  color: #3C3251;
}

a {
  color: #3C3251;
}

h1 {
  color: #341139;
}

table {
  background: #FFED90;
  border-color: #3C3251;
  border-width: 3px;
  border-style: solid;
  padding: 5px;
}
    </style>
</head>
<body>
<h1>Tigris and Euphrates</h1>
<form action="/create_game/" method="POST">
    <table><tr><td>
        {{ form.as_p }}
        <input type="submit" value="submit">
        </td></tr>
    </table>
</form>
<a href="/">Home.</a>
</body>
</html>
