<table>
<tr>
    <th>Game ID</th>
    <th>Game Name</th>
    <th>Turn No</th>
    <th>Action No</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th>Current Turn</th>
    <th>Waiting For</th>
</tr>
{% for game in games %}
<tr>
    <td>{{ game.id }}</td>
    <td>{{ game.name }}</td>
    <td>{{ game.turn_no }}</td>
    <td>{{ game.action_no }}</td>
    <td><a href="/game/{{ game.id }}/1/">{{ game.player_1.user_name }}</a></td>
    <td><a href="/game/{{ game.id }}/2/">{{ game.player_2.user_name }}</a></td>
    <td>{{ game.current_turn }}</td>
    <td>{{ game.waiting_for }}</td>
</tr>
{% endfor %}
</table>
