<html>
<head>
    <style>
body {
  background: #A8D46F;
  color: #3C3251;
}

a {
  color: #3C3251;
}

h1 {
  color: #341139;
}

table {
  background: #FFED90;
  border-color: #3C3251;
  border-width: 3px;
  border-style: solid;
  padding: 5px;
}
    </style>
</head>
<body>
    <h1>Tigris and Euphrates</h1>
    <table width="200" height="200">
        <tr>
            <td valign="top">
                Log In/Sign Up
            </td>
        </tr>
        <tr>
            <td valign="top">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">
                <a href="/create_game/">Create a Game</a>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <a href="/show_games/">Find a Game</a>
            </td>
        </tr>
        <tr>
            <td valign="top">
                Check My Stats
            </td>
        </tr>
    </table>

</body>
</html>
